.consoleMessage {
    color: greenyellow;
    font-size: 20px;
    letter-spacing: 0.1em;
    padding: 5px 0;
    line-height: 20px;
    min-height: 21px;

    animation-duration: 0.3s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        color: #181818;
        height: 0;
    }
    to {
        color: greenyellow;
        height: 21px;
    }
}
